*

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!packages/
!packages/**
!LICENSE
!THIRD_PARTY_NOTICES
!DEPENDENCY_LICENSES.csv

**/target
**/node_modules
**/dist
packages/cli/bin
**/*.tsbuildinfo
**/build
**/.svelte
**/.svelte-kit
**/.env*
**/*.log
